@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --text-white: #fff;
    --bg-red: #f03c42;
    --bg-purple: #222374;
    --bg-silver: #CCCCCC;
    --bg-black: #000000;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    min-height: calc(100vh - 300px);
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

a,
a:hover {
    color: unset;
    text-decoration: none;
}

.nav-main {
    height: 100px;
    background-color: var(--bg-red);
    color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;

}

.nav-main a {
    display: flex;
    align-items: center;
}

.nav-main img {
    padding-right: 10px;
}

.nav-main h2 {
    font-size: 18px;
}

.nav-main a {
    font-size: 14px;
}

.section-discover-space {
    background-color: var(--bg-purple);
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 40px;
}

.section-discover-space h2 {
    padding-top: 20px;
    padding-bottom: 40px;
    color: var(--text-white);
    font-size: 32px;

}

.card-info {
    background-color: var(--bg-silver);
    border-radius: 8px;
}

.card-info h3 {
    padding-top: 20px;
    padding-left: 20px;

}

.card-info p {
    padding: 20px;
    font-size: 14px;
}

.generic-card {
    margin-bottom: 20px;
}

.section-modalities {
    margin-right: 120px;
    margin-left: 120px;
    margin-bottom: 40px;
}

.section-modalities h2 {
    font-size: 32px;
    color: var(--bg-red);
    padding-top: 20px;
    padding-bottom: 40px;
}

.card-modalities {
    height: 106px;
    background-color: var(--bg-purple);
    border-radius: 8px;
    color: var(--text-white);
}

.card-modalities h3 {
    padding: 20px;
}

.card-modalities p {
    font-size: 14px;
    padding-left: 20px;
}

footer {
    background-color: var(--bg-black);
    color: var(--text-white);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-social a {
    display: flex;
    align-items: center;
}

.footer-social img {
    padding: 10px;

}

.rights-reserved {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
}